<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/table.css">
    <script src="../script/vue.js"></script>
</head>

<body>
    <h3>직원 관리</h3>
    <div id="app">
        <p>직원을 추가하세요.</p>
        이름: <input type="text" v-model="newCust.name">
        나이: <input type="text" v-model="newCust.age">
        월급: <input type="text" v-model="newCust.monthpay"><br>
        <button @click="insertCust()">직원 추가</button>
        <br>
        <hr>
        <p>직원 리스트</p>
        <table>
            <thead>
                <tr>
                    <th>이름</th>
                    <th>나이</th>
                    <th>월급</th>
                    <th>연봉</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="cus in computedList">
                    <td>{{cus.name}}</td>
                    <td>{{cus.age}}</td>
                    <td>{{cus.monthpay}}</td>
                    <td>{{cus.yearpay}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                customers: [
                    { name: '김직원', age: 33, monthpay: 190},
                    { name: '이직원', age: 28, monthpay: 250},
                    { name: '박직원', age: 60, monthpay: 300},
                    { name: '최직원', age: 53, monthpay: 400},
                    { name: '하직원', age: 47, monthpay: 500}
                ],
                newCust: {}
            },
            computed: {
                computedList: function () {
                    var i;
                    for (i = 0; i < this.customers.length; i++) {
                        this.customers[i].yearpay = (this.customers[i].monthpay * 12);
                    }
                    return this.customers;
                }
            },
            methods: {
                insertCust: function () {
                    this.customers.push(this.newCust);
                    this.newCust = {};
                }
            }

        })

    </script>
</body>

</html>